<!-- https://www.w3schools.com/html/html_form_input_types.asp -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fraud Detection Service</title>
</head>

<h1>Fraud Detection Service</h1>

<html>
   <body>
      <form action = "fd_service" method = "POST">
         <p>Amount <input type="number" name="amount" value=181.0></p>
         <p>Old Balance (Origin) <input type = "number" name = "old_bal_org" value=181.0></p>
         <p>New Balance (Origin) <input type = "number" name = "new_bal_org" value=0.0></p>
         <p>Old Balance (Destination) <input type ="number" name = "old_bal_dest" value=0.0></p>
         <p>New Balance (Destination) <input type ="number" name = "new_bal_dest" value=0.0></p>  
         
         <p>Transaction Types</p>  
         <input type="radio" name="txnType" value="Cash In"> Cash IN <br>  
         <input type="radio" name="txnType" value="Cash Out"> Cash OUT <br>  
         <input type="radio" name="txnType" value="Debit">Debit <br>  
         <input type="radio" name="txnType" value="Payment" >Payment <br>  
         <input type="radio" name="txnType" value="Transfer" checked=true>Transfer <br> 
   
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>