<!-- https://www.w3schools.com/html/html_form_input_types.asp -->
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Fraud Detection Service</title>
</head>

<body>
   <h1>Fraud Detection Service</h1>

   <!-- form action = "http://localhost:5000/test_form_service/" method="post" -->
   <form action="{{ url_for('fd_service') }}" method="post">
      <fieldset>
         <legend>Transaction Amounts</legend>
         <p>
            Amount:
            <input type="number" name="amount" value="181.0" step="any">
            <!-- added steps any attribute to prevent validation error from browser -->
            <!-- https://isotoma.com/blog/2012/03/02/html5-input-typenumber-and-decimalsfloats-in-chrome/ -->
         </p>
      </fieldset>


      <fieldset>
         <legend>Balances</legend>
         <p>
            Old Balance Original:
            <input type="number" name="old_bal_org" value="0.0" step="any">
            Old Balance Destination:
            <input type="number" name="old_bal_dest" value="0.0" step="any">
            New Balance Original:
            <input type="number" name="new_bal_org" value="0.0" step="any">
            New Balance Destination:
            <input type="number" name="new_bal_dest" value="0.0" step="any">
         </p>
      </fieldset>

      <fieldset>
         <legend>Transaction Type</legend>
         <p>
            Cash In:
            <input type="radio" name="txnType" id="txnType" value="Cash In">
            Cash Out:
            <input type="radio" name="txnType" id="txnType" value="Cash Out">
            Debit:
            <input type="radio" name="txnType" id="txnType" value="Debit">
            Payment:
            <input type="radio" name="txnType" id="txnType" value="Payment">
            Transfer:
            <input type="radio" name="txnType" id="txnType" value="Transfer" checked>
         </p>
      </fieldset>

      <hr />

      <input type="submit" value="Submit">

   </form>
</body>

</html>